*{
    background-color: blanchedalmond;
}

body {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: peachpuff;
}

ul{
    list-style-type: none;
}

ul>a{
    padding: 8px 16px;
}

h1{
    color: rgb(171, 113, 225);
    font-weight: 800;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    font-family: 'Handlee', cursive;
}

h2{
    color: rgb(240, 110, 78);
    font-weight: 600;
}

section{
    display: flex;
    align-items: center;
    padding: 0 150px;
}

.image{
    padding: 30px;
    width: 300px;
}

.form{
    width: 80vh;
    /*height: 100vh;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box_main{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.box{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: auto;
    
    margin-bottom: 10px;
    border-radius: 5px;
}
.box_comentador{
    text-align: end;
    background-color: rgba(132, 64, 195, 0.522);
    margin-bottom: 10px;
}

.box_comentario{
    background-color: rgba(170, 96, 145, 0.522);
}

.cat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.category{
    border: 2px solid rgba(208, 200, 215);
    border-radius: 10px;
    text-align: center;
    margin: 10px 0;
    width: 30%;
    background-color: rgba(133, 111, 153, 0.108);
}

.category a{
    color: blueviolet;    
}