{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="infoItem">
        <h1>Listing {{ listing.id }} </h1>
        <form action="{% url 'saveWatchlist' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Watchlist">
        </form>
        <ul>
            <li><img class='image' src="{{ listing.image }}" alt="image of product"></li>
            <li><h4>{{ listing.title }}</h4><!--<a href="../{% url 'listing' listing.id %}">{{ listing.title }}</a></h4></li>-->
            <li><p>{{ listing.description }}</p></li>
            <li><p>{{ listing.start_bid }}</p></li>
            <li><p>{{ listing.category }}</p></li>
        </ul>
    </div>
    
    <div class="bidsAll">
        <form action="{% url 'bid' listing.id %}" method="post">
            {% csrf_token %}
            <label> Last bid: {{ last_bid }}</label>
            {{ form_bid }}
            <input type="submit" value="Place bid">
        </form>
    </div>
    

    <div class="interaccion">
        <h2>Details </h2>
        <ul>
            {% for editor in editors %}
                <li>Listed by: {{ editor }}</li>
            {% empty %}
                <li>Listed by: No editors </li>
            {% endfor %}
            {% for cat in categories %}
                <li>Category: {{cat }} </li>
            {% empty %}
                <li>Category: No category listed </li>
            {% endfor %}
    </ul>    
    </div>
    
{% endblock %}