{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="infoItem">
        <h1>Listing {{ listing.id }} </h1>
        <form action="{% url 'saveWatchlist' listing.id %}" method="post">
            {% csrf_token %}
            {% if in_watchlist %}
                <input type="submit" value="Remove Watchlist">
            {% else %}
                <input type="submit" value="Add Watchlist">
            {% endif %}
        </form>
        <form action="{% url 'close' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Close"></form>
        <ul>
            <li><img class='image' src="{{ listing.image }}" alt="image of product"></li>
            <li><h4>{{ listing.title }}</h4><!--<a href="../{% url 'listing' listing.id %}">{{ listing.title }}</a></h4></li>-->
            <li><p>{{ listing.description }}</p></li>
            <li><p>{{ listing.start_bid }}</p></li>
            <li><p>{{ listing.category }}</p></li>
        </ul>
    </div>
    
    <div class="bidsAll">
        <form action="{% url 'bid' listing.id %}" method="post">
            {% csrf_token %}
            {% if is_active %}
                <label> Last bid: {{ last_bid }}</label>
                {{ form_bid }}
                <input type="submit" value="Place bid">
            {% else %}
                <label> Bid closed </label>
            {% endif %}
        </form>
    </div>
    

    <div class="details">
        <h2>Details </h2>
        <ul>
            {% if editor is not null %}
                <li>Last bid by: {{ editor }}</li>
            {% else %}
                <li>Last bid by: No editors </li>
            {% endif %}
            <li>Listed by: {{ autor }}</li>
            {% for cat in categories %}
                <li>Category: {{cat }} </li>
            {% empty %}
                <li>Category: No category listed </li>
            {% endfor %}
    </ul>    
    </div>

    <div class="comments">
        <h2>Comments</h2>
        <form action="{% url 'comment' listing.id %}" method="post">
            {% csrf_token %}
            <label for="comment">Comentar:</label>
            {{ form_comment }}
            <input type="submit" value="Send">
        </form>
        <ul>
            {% for comment in commentsAll %}
            <li class="box_comentador">{{comment.first}}</li>
            <li class="box_comentario">{{comment.second}}</li>
        </ul>
    </div>
    
{% endblock %}